BOOKIA_STORE_FILE=C:/Users/TU_USUARIO/Bookia-keys/bookia-upload.keystore
BOOKIA_STORE_PASSWORD=CAMBIAR_POR_LA_CONTRASENA_DEL_KEYSTORE
BOOKIA_KEY_ALIAS=bookia-upload
BOOKIA_KEY_PASSWORD=CAMBIAR_POR_LA_CONTRASENA_DE_LA_CLAVE
